body {
    font-family: 'Montserrat', sans-serif; /* Fonte do site inteiro */
    font-weight: 100;
    background-color: rgb(242, 253, 255); /* Cor do fundo do site */ 
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav li {
    display: inline-block;
    margin-right: 10px;
}

nav a {
    display: inline-block;
    padding: 10px 20px;
    background-color: rgb(16, 163, 196);
    color: white;
    text-decoration: none;
    border: 1px solid rgb(16, 163, 196);
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s, box-shadow 0.3s; /* Adiciona a sombra na transicao */
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.2); /* Coloca uma sombra no botao */
}

nav a:hover {
    background-color: rgb(2, 73, 145);
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3); /* Aumenta a sombra quando o mouse esta em cima do botao */
}

nav a:focus {
    outline: none;
}

nav h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

#button_general{
    display: inline-block;
    padding: 10px 20px;
    background-color: rgb(16, 163, 196);
    color: white;
    text-decoration: none;
    border: 1px solid rgb(16, 163, 196);
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s, box-shadow 0.3s; /* Adiciona a sombra na transicao */
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.2); /* Coloca uma sombra no botao */
}

#form-login {
    text-align: center;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#html-login{
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#right-painel {
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px;
}

#button-painel{
    display: inline-block;
    padding: 10px 20px;
    background-color: rgb(221, 35, 35);
    color: white;
    text-decoration: none;
    border: 1px solid rgb(221, 35, 35);
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s, box-shadow 0.3s; /* Adiciona a sombra na transicao */
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.2); /* Coloca uma sombra no botao */
}

h3 {
    color: rgb(211, 32, 32)
}

video {
    width: 80%; 
    max-width: 600px; 
    max-height: 400px; 
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.2);
}