<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset='UTF-8' />
        <!-- Viewport -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Style Sheet -->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/estilo.css') }}">
        <!-- Titulo da Aba -->
        <title>Nath Play Videos</title>
    </head>
    <body>
        <nav style="text-align: center;">
            <h2>Nath Play Videos</h2>
            <ul>
                <li><a href="videos.html">Vídeos</a></li>
                <li><a href="editar_videos.html">Editar Vídeos</a></li>
            </ul>
        </nav>

        <form id="form-painel"> 
            <button id="button-painel">Painel</button>
        </form>

    </body>
</html>