<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset='UTF-8' />
        <!-- Viewport -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Style Sheet -->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/estilo.css') }}">
        <!-- Titulo da Aba -->
        <title>Nath Play Videos</title>
    </head>
    <body>
        <nav style="text-align: center">
            <h1>Nath Play Vídeos</h1>
            <ul>
                <li><a href="videos.html">Vídeos</a></li>
                <li><a href="editar_videos.html">Editar Vídeos</a></li>
            </ul>
        </nav>

        <div id="right-painel">
            
            <form action="{{ url_for('rota_usuario') }}" method="post"> 
                <label><b>Bem vindo(a), {{nomeUsuario}}!</b></label>
                <button id="button-painel">Sair</button>
            </form>
        </div>
        
    </body>
</html>